<div class="container main-container">
    <form action="/notes/createNote" method='POST'>
        <input type="text" placeholder="Enter Note Item" name='noteItem'>
        <!-- Bug - Mood not saving properly in database -->
        <div class="input-field col s12">
            <select id="mood" name="mood">
                <option value="Happy😃" selected>Happy😃</option>
                <option value="Nervous😬">Nervous😬</option>
                <option value="Anxious🥺">Anxious🥺</option>
                <option value="Sad😭">Sad😭</option>
            </select>  
            <label for="mood">Choose Your Current Mood</label> 
        </div>
        <button class="btn waves-effect waves-light white-text" type="submit" name="action">Add Note
            <i class="fa-solid fa-notes-medical"></i>
        </button>
        <a href="/notes" class="btn waves-effect waves-light white-text grey darken-1">Cancel
        </a>
    </form>
</div>
