<div class="container">  
    <form action="/notes/<%= notes._id%>" method='PUT'>
        <input type="text" placeholder="<%= notes.note %>" name='noteItem'>
        <div class="input-field col s12" id="moodTracker" type="text" name="mood">
            <select class="browser-default">
                <option value="" disabled selected>Choose Your Mood</option>
                <option value="1">Happy😃</option>
                <option value="2">Nervous😬</option>
                <option value="3">Anxious🥺</option>
                <option value="3">Sad😭</option>
            </select>
            <!-- <label for="moodTracker">Your Current Mood</label> -->
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="fa-solid fa-paper-plane"></i>
        </button>
    </form>
</div>
<!-- 
<h3>Edit Win</h3>
<div class="row">
    <form action="/wins/{{win._id}}" method="POST" class="col s12">
        <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title" value="{{win.title}}">
                <label for="title">Title</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select id="status" name="status">
                    {{#select win.status}}
                    <option value="public" selected>Public</option>
                    <option value="private">Private</option>
                    {{/select}}
                </select>
                <label for="status">Status</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select id="type" name="type">
                    {{#select win.type}}
                    <option value="personal" selected>Personal</option>
                    <option value="career">Career</option>
                    <option value="wellbeing">Wellbeing</option>
                    {{/select}}
                </select>
                <label for="type">Type</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>Tell Us Your Win:</h5>
                <textarea id="textBody" name="textBody">{{win.textBody}}</textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn red">Cancel</a>
        </div>
    </form>
</div> -->