<div class="container hero-container">
    <div class="row">
        <div class="col s12 l6">
            <h1 class="">Keep Your Notes in the Cloud</h1>
            <p>Do you need a simple note taking app? Happy Notes allow you to save notes and track your mood. You can access your notes on any device from anywhere.</p>
            <div class="">
                <button type="button" class="btn">Sign Up</button>
            </div>
        </div>
        <div class="col s12 l6">
            <img src="images/happynotesheroimage3.svg" class="responsive-img" alt="Happy Notes Hero Image" width="700" height="500" loading="lazy">
        </div>
        
    </div>
</div>